.quoteBox {
  width: 80vw;
  border-top: solid;
  padding: 5px;
  border-radius: 80px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-family: "Akronim";
  animation: 5s infinite quoteBox;
}

.quoteGlow {
  height: 150px;
  width: 80vw;
  padding: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-family: "Akronim";
  animation: 5s infinite quoteGlow;
}

h1 {
  margin: auto;
}

.quoteStyle {
  font-style: italic;
  font-size: 40px;
}

.acronimFont {
  font-family: "Akronim";
}

@keyframes quoteGlow {
  from {
    text-shadow: 1px 0px 1px;
  }
  50% {
    text-shadow: 1px 0px 13px;
  }
  to {
    text-shadow: 1px 0px 1px;
  }
}

@keyframes quoteBox {
  from {
    text-shadow: 1px 0px 1px;
    box-shadow: 3px 5px 1px;
  }
  50% {
    text-shadow: 1px 0px 13px;
    box-shadow: 3px 9px 10px;
  }
  to {
    text-shadow: 1px 0px 1px;
    box-shadow: 3px 5px 1px;
  }
}

.click {
  cursor: pointer;
}

.textType {
  overflow: hidden;
  width: 100%;
}

@keyframes textTyper {
  from {
    width: 0vw;
    opacity: 1;
  }
}

.mask {
  margin-top: 20px;
  z-index: 1;
  padding: 5px;
  height: 200px;
  position: absolute;
  width: 100vw;
  right: 0;
  overflow: hidden;
  animation: textTyper 10s reverse steps(200, end) forwards;
}