.quoteBox {
  width: 80vw;
  padding: 5px;
  border-radius: 80px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-family: "Akronim";
  animation: 5s infinite quoteBox;
}

.quoteGlow {
  width: 80vw;
  padding: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-family: "Akronim";
  animation: 5s infinite quoteGlow;
}

h1 {
  margin: auto;
}

.quoteStyle {
  font-style: italic;
  font-size: 40px;
}

.acronimFont {
  font-family: "Akronim";
}

@keyframes quoteGlow {
  from {
    text-shadow: 1px 0px 1px;
  }
  50% {
    text-shadow: 1px 0px 13px;
  }
  to {
    text-shadow: 1px 0px 1px;
  }
}

@keyframes quoteBox {
  from {
    text-shadow: 1px 0px 1px;
    box-shadow: 3px 5px 1px;
  }
  50% {
    text-shadow: 1px 0px 13px;
    box-shadow: 3px 9px 10px;
  }
  to {
    text-shadow: 1px 0px 1px;
    box-shadow: 3px 5px 1px;
  }
}

.click {
  cursor: pointer;
}

.textType {
  overflow: hidden;
  width: 100%;
}

@keyframes textTyper {
  from {
    width: 0px;
    opacity: 0;
  }
}

.mask {
  width: 100%;
  overflow: hidden;
  background-color: hotpink;
  animation: textTyper 8s steps(60, end) infinite;
}