.rainAnimation {
    position: absolute;
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
    min-height: 10%;
}

.rainAnimation .item {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    opacity: 0;
}

.animatedItem {
    animation: rainAnimation 10s infinite forwards
}

@keyframes rainAnimation {
    from {
        opacity: 1;
        top: 0em
    }
    to {
        top: 30em;
        opacity: 0;
    }
}

.rainDrop {
    padding: 20px;
    border-radius: 60%;
    background-color: lawngreen;
    filter: drop-shadow(2px 2px 2px);
}