.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCenter {
  align-content: center;
}

.autoMargin {
  margin: auto;
}

.textCenter {
  text-align: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.fullSolidBorder {
  border: solid;
}

.fitContent {
  width: fit-content;
}

.spaceAround {
  justify-content: space-around;
}

.spaceBetween {
  justify-content: space-between;
}

.profilPageTemplate {
  display: grid;
  grid-template-areas: "sidbar main main .";
}

.main {
  grid-area: main;
}

.sidbar {
  grid-area: sidebar;
}