.whiteBackGround {
  background-color: #f6f6f6;
  height: 100px;
  transition: background-color 6s;
  transition-duration: 5s;
}

.darkBackGround {
  background-color: #222831;
  height: 100px;
  transition: background-color 6s;
  transition-duration: 5s;
}

/* .whiteBackGround:hover {
    background-color: rgb(5, 5, 8);
    height: 100px;
    transition: background-color 6s;
    transition-duration: 5s;
} */

.tranistion {
  background-color: inherit;
}

.bottomMarginNav {
  margin-bottom: 10px;
}

a {
  color: aliceblue;
  margin: auto;
  margin-left: 10px;
  text-decoration: none;
}

.darkThirdColor {
  font-family: inherit;
  font-weight: bolder;
  color: #00adb5;
}

.whiteThirdColor {
  font-family: inherit;
  font-weight: bolder;
  color: #1e56a0;
}

.nav {
  height: 10%;
  padding: 1%;
  margin-bottom: 0px;
  border-bottom: solid 0.2rem;
}

.whiteNavItem {
  font-size: larger;
  font-weight: bolder;
  border: solid;
  transition: all 1s;
}

.darkNavItem {
  font-family: 'Righteous', cursive;
  border: solid;
  transition: all 1s;
}

.whiteNavItem:hover {
  /* background: linear-gradient( 164deg, rgba(22, 49, 114, 1) 100%); */
  background-color: #222831;
}

.darkActive {
  color: black;
}

.whiteActive {
  color: black;
  /* background-color: #1e56a0; */
  /* color: #1e56a0; */
}