.whiteBackGround {
  background-color: #f6f6f6;
  height: 100px;
  transition: background-color 6s;
  transition-duration: 5s;
}

.darkBackGround {
  background-color: #222831;
  height: 100px;
  transition: background-color 6s;
  transition-duration: 5s;
}

/* .whiteBackGround:hover {
    background-color: rgb(5, 5, 8);
    height: 100px;
    transition: background-color 6s;
    transition-duration: 5s;
} */

.tranistion {
  background-color: inherit;
}

.bottomMarginNav {
  margin-bottom: 10px;
}

a {
  color: aliceblue;
  margin: auto;
  margin-left: 10px;
  text-decoration: none;
}

.darkThirdColor {
  color: #00adb5;
}

.whiteThirdColor {
  color: #1e56a0;
}

.nav {
  height: 10%;
  padding: 1%;
  margin-bottom: 0px;
}
