.smallSearchBar {
  width: 200px;
  margin: 0px;
  text-align: center;
  border: solid;

  opacity: 1;
  transition: all 2s;
  height: 40px;
  font-size: medium;
}

.bigSearchBar {
  height: 40px;
  width: 700px;
  margin: 30vh;
  text-align: center;
  border: solid;

  opacity: 1;
  transition: all 2s;
  font-size: larger;
}
